<h2>Add new train here</h2>

<form action="/trains" method="post">
  <div class="form-group">
    <label for="color">Enter train color</label>
    <input id="color" name="color" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">Add Train</button>
</form>